{% extends 'utama/base.html' %}
{% load staticfiles %}
{% block judul %}Qur'an Arrayyan{% endblock %}

{% block isi %}
<ol class="breadcrumb">
  <li><a href="{% url 'beranda' %}">Beranda</a></li>
  <li><a href="{% url 'quran' %}">Qur'an</a></li>
  <li class="active">Arrayyan</li>
</ol>
<div class="row" style="display: flex; flex-wrap: wrap;">
	{% for quranrayyan in arrayyan %}
  	<div class="col-sm-6 col-md-3">		
   		<div class="thumbnail">
     		<img src="{{ quranrayyan.gambar.url }}">
     		<div class="caption">
       			<h4>{{ quranrayyan.nama }}</h4>
            <h4>Rp {{ quranrayyan.harga }}</h4>
       			<p>kode : {{ quranrayyan.kode }}</p>
       			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn 	btn-default" role="button">Button</a></p>
     		</div>     			
     	</div>     		
 	  </div>
 	{% endfor %}
</div>
{% endblock %}